<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}title{% endblock %}</title>
	<meta name="description" content="">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">

	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/css/semantic.min.css">
	<!-- endbower -->
	<!-- endbuild -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

	<!-- build:css styles/main.css -->
	<link rel="stylesheet" href="/stylesheets/main.css">
	<!-- endbuild -->
	{% block head %}

  {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>